/**
 * SVG des Puys d'Auvergne pour le footer
 * 
 * @package ALMetallerie
 * @since 1.0.0
 */

.containerSperatorPuyFooter {
    position: relative;
    width: 100%;
    height: 91.7px;
    overflow: hidden;
    margin: 0 0 50px 0;
    padding: 0;
}

.containerSperatorPuyFooter svg {
    width: 100%;
    height: 100%;
    display: block;
}

.containerSperatorPuyFooter .st0 {
    fill: #2a2a2a;
    /* Dégradé possible si nécessaire */
    /* fill: url(#puyGradient); */
}

/* Responsive */
@media (max-width: 768px) {
    .containerSperatorPuyFooter {
        height: 60px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .containerSperatorPuyFooter {
        height: 45px;
        margin-bottom: 20px;
    }
}
